In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
doA = pd.read_csv('DOA/epochs50/metricsT.csv', index_col= False)
doB = pd.read_csv('DOB/epochs50/metrics.csv', index_col= False)
doC = pd.read_csv('DOC/epochs50/metrics.csv', index_col= False)
doD = pd.read_csv('DOD/epochs50/metricsT.csv', index_col= False)

    Metrics Model Category         Model          y
0       MSE        General           CNN  11.242599
1       MSE        General           RNN   1.050223
2       MSE        General           GRU   0.848595
3       MSE        General          LSTM   0.809549
4       MSE             MA           CNN   1.928303
..      ...            ...           ...        ...
107      R2          MA HY  LSTM RNN GRU   0.893800
108      R2          MA HY   CNN RNN GRU  -0.047946
109      R2          MA HY       CNN GRU  -0.052255
110      R2          MA HY       RNN GRU   0.962529
111      R2          MA HY      RNN LSTM   0.916299

[112 rows x 4 columns]