In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("data/Buriganga_S.csv")
winter = pd.read_csv("data/Buriganga_W .csv")

In [3]:
summer

,SamplingPoint,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,Gabtoli Dhalwes,30.4,6.17,1790,309,108,639,852,0.96,700,...,0.61,0.003,0.044,0.107,0.458,0.187,0.995,0.009,0.109,0.188
1,Gabtoli Turag,30.7,5.89,1453,322,126,702,1208,0.73,718,...,0.45,0.007,0.083,0.495,0.932,0.659,1.178,0.027,0.102,0.452
2,Shah Cement,32.7,5.02,2047,434,174,730,783,0.15,870,...,0.42,0.018,0.082,0.149,1.597,0.573,1.073,0.108,0.063,0.337
3,Hazaribag,32.8,4.37,538,461,162,360,1790,0.12,912,...,0.66,2.100,1.139,0.065,0.988,0.602,3.450,0.176,0.098,1.836
4,Rayerbazar,29.5,6.59,692,178,82,244,825,1.10,655,...,0.80,0.005,0.029,0.089,0.114,0.309,1.002,0.093,0.057,0.119
5,Kholamora,32.2,5.33,1596,296,76,930,2009,0.51,725,...,0.79,0.007,0.045,0.216,1.976,0.759,0.872,0.017,0.075,0.178
6,Zinzira,30.1,6.78,1963,302,108,1070,2036,1.39,530,...,0.41,0.106,0.198,1.023,1.851,0.755,3.107,0.089,0.112,1.457
7,Sadarghat Terminal,32.9,4.11,2119,464,175,1156,2377,0.00,1180,...,0.35,0.193,1.133,0.451,0.633,0.442,2.456,0.255,0.161,2.144
8,Postogola Bri,32.4,5.24,2550,387,162,1332,1895,0.27,879,...,0.32,0.069,0.370,0.385,0.115,0.292,1.114,0.198,0.059,1.075

In [4]:
sampling_point = summer["SamplingPoint"]

In [5]:
summer.drop(columns="SamplingPoint", inplace=True)
winter.drop(columns="SamplingPoint", inplace=True)

In [6]:
summer

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4+,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,30.4,6.17,1790,309,108,639,852,0.96,700,2.9,...,0.61,0.003,0.044,0.107,0.458,0.187,0.995,0.009,0.109,0.188
1,30.7,5.89,1453,322,126,702,1208,0.73,718,2.8,...,0.45,0.007,0.083,0.495,0.932,0.659,1.178,0.027,0.102,0.452
2,32.7,5.02,2047,434,174,730,783,0.15,870,7.6,...,0.42,0.018,0.082,0.149,1.597,0.573,1.073,0.108,0.063,0.337
3,32.8,4.37,538,461,162,360,1790,0.12,912,8.2,...,0.66,2.100,1.139,0.065,0.988,0.602,3.450,0.176,0.098,1.836
4,29.5,6.59,692,178,82,244,825,1.10,655,3.0,...,0.80,0.005,0.029,0.089,0.114,0.309,1.002,0.093,0.057,0.119
5,32.2,5.33,1596,296,76,930,2009,0.51,725,5.9,...,0.79,0.007,0.045,0.216,1.976,0.759,0.872,0.017,0.075,0.178
6,30.1,6.78,1963,302,108,1070,2036,1.39,530,2.2,...,0.41,0.106,0.198,1.023,1.851,0.755,3.107,0.089,0.112,1.457
7,32.9,4.11,2119,464,175,1156,2377,0.00,1180,10.4,...,0.35,0.193,1.133,0.451,0.633,0.442,2.456,0.255,0.161,2.144
8,32.4,5.24,2550,387,162,1332,1895,0.27,879,9.3,...,0.32,0.069,0.370,0.385,0.115,0.292,1.114,0.198,0.059,1.075

In [84]:
val = pd.read_csv("data/std_ideal_val - Sheet1.csv")

In [85]:
val

,Temperature,pH,EC (Î¼S/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),NH4+ (mg/l),...,Br (mg/l),Cd (mg/l),Cr (mg/l),Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l)
0,30.0,7.5,1000.0,30.0,20.0,250.0,1000.0,6.0,200.0,4.0,...,3,0.010,0.10,0.10,2.00,5.0,0.20,0.002,0.10,0.10
1,25.0,7.0,600.0,20.0,10.0,200.0,600.0,4.0,100.0,1.0,...,1,0.005,0.05,0.07,1.00,0.5,0.05,0.001,0.05,0.02
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0.005,0.05,0.02,0.05,5.0,0.15,0.002,0.10,0.10

In [86]:
cols = ['Temperature', 'pH', 'EC', 'TSS', 'Turbidity', 'Salinity', 'TDS', 'DO',
       'COD', 'NH4', 'NO3', 'Phosphate', 'Sulfates', 'K', 'Ca', 'Mg', 'Cl',
       'Br', 'Cd', 'Cr', 'Ni', 'Cu', 'Zn', 'Mn', 'Hg', 'As', 'Pb']

In [87]:
val.columns = cols

In [88]:
val

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,30.0,7.5,1000.0,30.0,20.0,250.0,1000.0,6.0,200.0,4.0,...,3,0.010,0.10,0.10,2.00,5.0,0.20,0.002,0.10,0.10
1,25.0,7.0,600.0,20.0,10.0,200.0,600.0,4.0,100.0,1.0,...,1,0.005,0.05,0.07,1.00,0.5,0.05,0.001,0.05,0.02
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0.005,0.05,0.02,0.05,5.0,0.15,0.002,0.10,0.10

In [15]:
val["Temperature"][1]

25

In [50]:
std = val.iloc[0]
idl = val.iloc[1]
std

Temperature      30.000
pH                7.500
EC             1000.000
TSS              30.000
Turbidity        20.000
Salinity        250.000
TDS            1000.000
DO                6.000
COD             200.000
NH4               4.000
NO3              15.000
Phosphate         4.000
Sulfates        400.000
K               100.000
Ca              170.000
Mg              120.000
Cl              600.000
Br                3.000
Cd                0.010
Cr                0.100
Ni                0.100
Cu                2.000
Zn                5.000
Mn                0.200
Hg                0.002
As                0.100
Pb                0.100
Name: 0, dtype: float64

In [25]:
len(std)

27

In [30]:
i = 0
inv = 0
while i < len(std):
    inv += 1/std[i]    
    i += 1
    
    
inv

647.0560490196078

In [31]:
k = 1/inv
k

0.0015454611722047233

In [32]:
weight = []
i = 0
while i < len(std):
    val = k/ std[i]
    weight.append(val)
    i+=1

weight

[5.151537240682411e-05,
 0.00020606148962729645,
 1.5454611722047232e-06,
 5.151537240682411e-05,
 7.727305861023616e-05,
 6.181844688818893e-06,
 1.5454611722047232e-06,
 0.00025757686203412055,
 7.727305861023616e-06,
 0.0003863652930511808,
 0.00010303074481364822,
 0.0003863652930511808,
 3.863652930511808e-06,
 1.545461172204723e-05,
 9.09094807179249e-06,
 1.2878843101706028e-05,
 2.5757686203412053e-06,
 0.0005151537240682411,
 0.15454611722047232,
 0.015454611722047233,
 0.015454611722047233,
 0.0007727305861023616,
 0.00030909223444094465,
 0.007727305861023616,
 0.7727305861023617,
 0.015454611722047233,
 0.015454611722047233]

In [51]:
tempS = ((summer["Temperature"] - idl.Temperature) / (std.Temperature - idl.Temperature)) * 100
pHS   = ((summer["pH"] - idl.pH) / (std.pH - idl.pH)) * 100
ecS   = ((summer["EC"] - idl.EC) / (std.EC - idl.EC)) * 100
tssS  = ((summer["TSS"] - idl.TSS) / (std.TSS - idl.TSS)) * 100
turbS = ((summer["Turbidity"] - idl.Turbidity) / (std.Turbidity - idl.Turbidity)) * 100
salS  = ((summer["Salinity"] - idl.Salinity) / (std.Salinity - idl.Salinity)) * 100
tdsS  = ((summer["TDS"] - idl.TDS) / (std.TDS - idl.TDS)) * 100
doS   = ((summer["DO"] - idl.DO) / (std.DO - idl.DO)) * 100
codS  = ((summer["COD"] - idl.COD) / (std.COD - idl.COD)) * 100
nh4S  = ((summer["NH4+"] - idl.NH4) / (std.NH4 - idl.NH4)) * 100
no3S  = ((summer["NO3"] - idl.NO3) / (std.NO3 - idl.NO3)) * 100
po4S  = ((summer["Phosphate"] - idl.Phosphate) / (std.Phosphate - idl.Phosphate)) * 100
so4S  = ((summer["Sulfates"] - idl.Sulfates) / (std.Sulfates - idl.Sulfates)) * 100
kS    = ((summer["K"] - idl.K) / (std.K - idl.K)) * 100
caS   = ((summer["Ca"] - idl.Ca) / (std.Ca - idl.Ca)) * 100
mgS   = ((summer["Mg"] - idl.Mg) / (std.Mg - idl.Mg)) * 100
clS   = ((summer["Cl"] - idl.Cl) / (std.Cl - idl.Cl)) * 100
brS   = ((summer["Br"] - idl.Br) / (std.Br - idl.Br)) * 100
cdS   = ((summer["Cd"] - idl.Cd) / (std.Cd - idl.Cd)) * 100
crS   = ((summer["Cr"] - idl.Cr) / (std.Cr - idl.Cr)) * 100
niS   = ((summer["Ni"] - idl.Ni) / (std.Ni - idl.Ni)) * 100
cuS   = ((summer["Cu"] - idl.Cu) / (std.Cu - idl.Cu)) * 100
znS   = ((summer["Zn"] - idl.Zn) / (std.Zn - idl.Zn)) * 100
mnS   = ((summer["Mn"] - idl.Mn) / (std.Mn - idl.Mn)) * 100
hgS   = ((summer["Hg"] - idl.Hg) / (std.Hg - idl.Hg)) * 100
asS   = ((summer["As"] - idl.As) / (std.As - idl.As)) * 100
pbS   = ((summer["Pb"] - idl.Pb) / (std.Pb - idl.Pb)) * 100

In [54]:
qiS = pd.DataFrame(data={
     'Temperature' : tempS,
     'pH': pHS,
     'EC': ecS,
     'TSS': tssS,
     'Turbidity': turbS,
     'Salinity': salS,
     'TDS': tdsS,
     'DO': doS,
     'COD': codS,
     'NH4': nh4S,
     'NO3': no3S,
     'Phosphate': po4S,
     'Sulfates': so4S,
     'K': kS,
     'Ca': caS,
     'Mg': mgS,
     'Cl': clS,
     'Br': brS,
     'Cd': cdS,
     'Cr': crS,
     'Ni': niS,
     'Cu': cuS,
     'Zn': znS,
     'Mn': mnS,
     'Hg': hgS,
     'As': asS,
     'Pb': pbS
})

In [55]:
qiS

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,108.0,-166.0,297.50,2890.0,980.0,878.0,63.00,-152.0,600.0,63.333333,...,-19.5,-40.0,-12.0,123.333333,-54.2,-6.955556,630.000000,800.0,118.0,210.00
1,114.0,-222.0,213.25,3020.0,1160.0,1004.0,152.00,-163.5,618.0,60.000000,...,-27.5,40.0,66.0,1416.666667,-6.8,3.533333,752.000000,2600.0,104.0,540.00
2,154.0,-396.0,361.75,4140.0,1640.0,1060.0,45.75,-192.5,770.0,220.000000,...,-29.0,260.0,64.0,263.333333,59.7,1.622222,682.000000,10700.0,26.0,396.25
3,156.0,-526.0,-15.50,4410.0,1520.0,320.0,297.50,-194.0,812.0,240.000000,...,-17.0,41900.0,2178.0,-16.666667,-1.2,2.266667,2266.666667,17500.0,96.0,2270.00
4,90.0,-82.0,23.00,1580.0,720.0,88.0,56.25,-145.0,555.0,66.666667,...,-10.0,0.0,-42.0,63.333333,-88.6,-4.244444,634.666667,9200.0,14.0,123.75
5,144.0,-334.0,249.00,2760.0,660.0,1460.0,352.25,-174.5,625.0,163.333333,...,-10.5,40.0,-10.0,486.666667,97.6,5.755556,548.000000,1600.0,50.0,197.50
6,102.0,-44.0,340.75,2820.0,980.0,1740.0,359.00,-130.5,430.0,40.000000,...,-29.5,2020.0,296.0,3176.666667,85.1,5.666667,2038.000000,8800.0,124.0,1796.25
7,158.0,-578.0,379.75,4440.0,1650.0,1912.0,444.25,-200.0,1080.0,313.333333,...,-32.5,3760.0,2166.0,1270.000000,-36.7,-1.288889,1604.000000,25400.0,222.0,2655.00
8,148.0,-352.0,487.50,3670.0,1520.0,2264.0,323.75,-186.5,779.0,276.666667,...,-34.0,1280.0,640.0,1050.000000,-88.5,-4.622222,709.333333,19700.0,18.0,1318.75

In [63]:
wqiS = qiS * weight

In [65]:
wqiS

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,0.005564,-0.034206,0.000460,0.148879,0.075728,0.005428,0.000097,-0.039152,0.004636,0.024470,...,-0.010045,-6.181845,-0.185455,1.906069,-0.041882,-0.002150,4.868203,618.184469,1.823644,3.245468
1,0.005873,-0.045746,0.000330,0.155576,0.089637,0.006207,0.000235,-0.042114,0.004775,0.023182,...,-0.014167,6.181845,1.020004,21.894033,-0.005255,0.001092,5.810934,2009.099524,1.607280,8.345490
2,0.007933,-0.081600,0.000559,0.213274,0.126728,0.006553,0.000071,-0.049584,0.005950,0.085000,...,-0.014939,40.181990,0.989095,4.069714,0.046132,0.000501,5.270023,8268.217271,0.401820,6.123890
3,0.008036,-0.108388,-0.000024,0.227183,0.117455,0.001978,0.000460,-0.049970,0.006275,0.092728,...,-0.008758,6475.482312,33.660144,-0.257577,-0.000927,0.000701,17.515227,13522.785257,1.483643,35.081969
4,0.004636,-0.016897,0.000036,0.081394,0.055637,0.000544,0.000087,-0.037349,0.004289,0.025758,...,-0.005152,0.000000,-0.649094,0.978792,-0.068464,-0.001312,4.904263,7109.121392,0.216365,1.912508
5,0.007418,-0.068825,0.000385,0.142182,0.051000,0.009025,0.000544,-0.044947,0.004830,0.063106,...,-0.005409,6.181845,-0.154546,7.521244,0.075419,0.001779,4.234564,1236.368938,0.772731,3.052286
6,0.005255,-0.009067,0.000527,0.145273,0.075728,0.010756,0.000555,-0.033614,0.003323,0.015455,...,-0.015197,312.183157,4.574565,49.094150,0.065759,0.001752,15.748249,6800.029158,1.916372,27.760346
7,0.008139,-0.119104,0.000587,0.228728,0.127501,0.011820,0.000687,-0.051515,0.008345,0.121061,...,-0.016742,581.093401,33.474689,19.627357,-0.028359,-0.000398,12.394599,19627.356887,3.430924,41.031994
8,0.007624,-0.072534,0.000753,0.189061,0.117455,0.013996,0.000500,-0.048038,0.006020,0.106894,...,-0.017515,197.819030,9.890952,16.227342,-0.068387,-0.001429,5.481236,15222.792546,0.278183,20.380769

In [66]:
wqiS = wqiS.sum(axis=1)
wqiS

0      623.861969
1     2054.207921
2     8325.683971
3    20086.118767
4     7116.553334
5     1258.285907
6     7211.607955
7    20318.800314
8    15473.170318
dtype: float64

In [60]:
sum(weight)

1.0

In [68]:
wqiS = pd.DataFrame(data={
    "SamplingPoint" : sampling_point,
    "WQI": wqiS
})

In [69]:
wqiS

        SamplingPoint           WQI
0     Gabtoli Dhalwes    623.861969
1       Gabtoli Turag   2054.207921
2         Shah Cement   8325.683971
3           Hazaribag  20086.118767
4          Rayerbazar   7116.553334
5           Kholamora   1258.285907
6             Zinzira   7211.607955
7  Sadarghat Terminal  20318.800314
8       Postogola Bri  15473.170318

In [70]:
tempS = ((winter["Temperature"] - idl.Temperature) / (std.Temperature - idl.Temperature)) * 100
pHS   = ((winter["pH"] - idl.pH) / (std.pH - idl.pH)) * 100
ecS   = ((winter["EC"] - idl.EC) / (std.EC - idl.EC)) * 100
tssS  = ((winter["TSS"] - idl.TSS) / (std.TSS - idl.TSS)) * 100
turbS = ((winter["Turbidity"] - idl.Turbidity) / (std.Turbidity - idl.Turbidity)) * 100
salS  = ((winter["Salinity"] - idl.Salinity) / (std.Salinity - idl.Salinity)) * 100
tdsS  = ((winter["TDS"] - idl.TDS) / (std.TDS - idl.TDS)) * 100
doS   = ((winter["DO"] - idl.DO) / (std.DO - idl.DO)) * 100
codS  = ((winter["COD"] - idl.COD) / (std.COD - idl.COD)) * 100
nh4S  = ((winter["NH4+"] - idl.NH4) / (std.NH4 - idl.NH4)) * 100
no3S  = ((winter["NO3"] - idl.NO3) / (std.NO3 - idl.NO3)) * 100
po4S  = ((winter["Phosphate"] - idl.Phosphate) / (std.Phosphate - idl.Phosphate)) * 100
so4S  = ((winter["Sulfates"] - idl.Sulfates) / (std.Sulfates - idl.Sulfates)) * 100
kS    = ((winter["K"] - idl.K) / (std.K - idl.K)) * 100
caS   = ((winter["Ca"] - idl.Ca) / (std.Ca - idl.Ca)) * 100
mgS   = ((winter["Mg"] - idl.Mg) / (std.Mg - idl.Mg)) * 100
clS   = ((winter["Cl"] - idl.Cl) / (std.Cl - idl.Cl)) * 100
brS   = ((winter["Br"] - idl.Br) / (std.Br - idl.Br)) * 100
cdS   = ((winter["Cd"] - idl.Cd) / (std.Cd - idl.Cd)) * 100
crS   = ((winter["Cr"] - idl.Cr) / (std.Cr - idl.Cr)) * 100
niS   = ((winter["Ni"] - idl.Ni) / (std.Ni - idl.Ni)) * 100
cuS   = ((winter["Cu"] - idl.Cu) / (std.Cu - idl.Cu)) * 100
znS   = ((winter["Zn"] - idl.Zn) / (std.Zn - idl.Zn)) * 100
mnS   = ((winter["Mn"] - idl.Mn) / (std.Mn - idl.Mn)) * 100
hgS   = ((winter["Hg"] - idl.Hg) / (std.Hg - idl.Hg)) * 100
asS   = ((winter["As"] - idl.As) / (std.As - idl.As)) * 100
pbS   = ((winter["Pb"] - idl.Pb) / (std.Pb - idl.Pb)) * 100

In [71]:
qiW = pd.DataFrame(data={
     'Temperature' : tempS,
     'pH': pHS,
     'EC': ecS,
     'TSS': tssS,
     'Turbidity': turbS,
     'Salinity': salS,
     'TDS': tdsS,
     'DO': doS,
     'COD': codS,
     'NH4': nh4S,
     'NO3': no3S,
     'Phosphate': po4S,
     'Sulfates': so4S,
     'K': kS,
     'Ca': caS,
     'Mg': mgS,
     'Cl': clS,
     'Br': brS,
     'Cd': cdS,
     'Cr': crS,
     'Ni': niS,
     'Cu': cuS,
     'Zn': znS,
     'Mn': mnS,
     'Hg': hgS,
     'As': asS,
     'Pb': pbS
})

In [72]:
wqiW = qiW * weight

In [74]:
wqiW

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,0.000000,0.051515,0.000336,0.087576,0.038327,0.005996,0.000069,-0.028076,0.000734,0.020606,...,0.055379,6.181845,-0.030909,1.648492,-0.047291,-0.001470,5.326690,1004.549762,4.358201,6.877302
1,-0.000309,0.057285,0.000384,0.070061,0.053009,0.006256,0.000121,-0.033871,0.001175,0.028333,...,0.058985,9.272767,1.205460,2.987892,-0.002705,0.000845,5.913965,2704.557051,3.276378,7.244349
2,0.000206,0.045746,0.000408,0.062849,0.058187,0.005465,0.000149,-0.049712,0.003037,0.090152,...,0.015970,30.909223,1.390915,7.057606,0.032455,0.001161,5.810934,6181.844689,1.390915,8.132989
3,0.000412,-0.049455,0.000065,0.173607,0.030059,0.000767,0.000539,-0.050227,0.004505,0.108182,...,0.018546,6815.483769,42.438364,60.891170,-0.005718,0.000769,19.271901,9504.586209,1.607280,26.427386
4,-0.001236,0.079540,0.000073,0.099425,0.014527,0.002102,0.000349,-0.024212,0.000688,0.014167,...,0.006439,-6.181845,-0.772731,-0.618184,-0.061973,-0.001326,5.409114,77.273059,0.896367,5.718206
5,0.000103,0.046570,0.000337,0.154546,0.025114,0.006330,0.000536,-0.040568,0.001700,0.059243,...,0.004894,0.000000,-0.587275,-0.412123,-0.011591,0.000673,4.883657,618.184469,0.340001,5.293205
6,-0.000824,0.066764,0.000487,0.194728,0.023105,0.009396,0.000601,-0.029364,0.002936,0.046364,...,-0.003348,268.910244,7.603669,33.536507,0.064291,0.001738,16.546738,7031.848334,1.483643,10.567091
7,0.000927,-0.059758,0.000362,0.229243,0.090719,0.000099,0.000698,-0.051515,0.005533,0.131364,...,0.007727,494.547575,32.516503,14.733397,-0.026891,-0.001133,15.088853,10509.135971,1.761826,37.844480
8,0.000206,0.045334,0.000735,0.144243,0.050614,0.014589,0.000444,-0.049841,0.003725,0.108182,...,0.007985,238.001021,14.249152,9.581859,-0.069932,-0.002246,6.156087,8190.944213,0.370911,18.023941

In [75]:
wqiW = wqiW.sum(axis=1)

In [76]:
wqiW = pd.DataFrame(data={
    "SamplingPoint" : sampling_point,
    "WQI": wqiW
})

In [77]:
wqiW

        SamplingPoint           WQI
0     Gabtoli Dhalwes   1029.134139
1       Gabtoli Turag   2734.763143
2         Shah Cement   6236.883808
3           Hazaribag  16470.999726
4          Rayerbazar     81.888333
5           Kholamora    628.018268
6             Zinzira   7370.950521
7  Sadarghat Terminal  11106.041267
8       Postogola Bri   8477.688253

In [79]:
wqi = pd.DataFrame(data={
    "SamplingPoint": sampling_point,
    "WQI Winter" : wqiW.WQI,
    "WQI Summer": wqiS.WQI
})

In [80]:
wqi

        SamplingPoint    WQI Winter    WQI Summer
0     Gabtoli Dhalwes   1029.134139    623.861969
1       Gabtoli Turag   2734.763143   2054.207921
2         Shah Cement   6236.883808   8325.683971
3           Hazaribag  16470.999726  20086.118767
4          Rayerbazar     81.888333   7116.553334
5           Kholamora    628.018268   1258.285907
6             Zinzira   7370.950521   7211.607955
7  Sadarghat Terminal  11106.041267  20318.800314
8       Postogola Bri   8477.688253  15473.170318

In [81]:
wqi.to_excel("WQI.xlsx")

# Pn

In [91]:
summer.columns

Index(['Temperature', 'pH', 'EC', 'TSS', 'Turbidity', 'Salinity', 'TDS', 'DO',
       'COD', 'NH4+', 'NO3', 'Phosphate', 'Sulfates', 'K', 'Ca', 'Mg', 'Cl',
       'Br', 'Cd', 'Cr', 'Ni', 'Cu', 'Zn', 'Mn', 'Hg', 'As', 'Pb'],
      dtype='object')

In [99]:
hm = cols[17:]
hm

['Br', 'Cd', 'Cr', 'Ni', 'Cu', 'Zn', 'Mn', 'Hg', 'As', 'Pb']

In [103]:
heavyS = summer[hm]
heavyW = winter[hm]

heavyS

     Br     Cd     Cr     Ni     Cu     Zn     Mn     Hg     As     Pb
0  0.61  0.003  0.044  0.107  0.458  0.187  0.995  0.009  0.109  0.188
1  0.45  0.007  0.083  0.495  0.932  0.659  1.178  0.027  0.102  0.452
2  0.42  0.018  0.082  0.149  1.597  0.573  1.073  0.108  0.063  0.337
3  0.66  2.100  1.139  0.065  0.988  0.602  3.450  0.176  0.098  1.836
4  0.80  0.005  0.029  0.089  0.114  0.309  1.002  0.093  0.057  0.119
5  0.79  0.007  0.045  0.216  1.976  0.759  0.872  0.017  0.075  0.178
6  0.41  0.106  0.198  1.023  1.851  0.755  3.107  0.089  0.112  1.457
7  0.35  0.193  1.133  0.451  0.633  0.442  2.456  0.255  0.161  2.144
8  0.32  0.069  0.370  0.385  0.115  0.292  1.114  0.198  0.059  1.075

In [107]:
std_hm = std[hm]
std_hm

Br    3.000
Cd    0.010
Cr    0.100
Ni    0.100
Cu    2.000
Zn    5.000
Mn    0.200
Hg    0.002
As    0.100
Pb    0.100
Name: 0, dtype: float64

In [131]:
piS = heavyS / std_hm
piSmax = piS.max(axis=1)
squarepiSmax = piSmax ** 2
pibar = piS.mean(axis=1)
squared_pibar = pibar ** 2 
pnS = (squared_pibar + squarepiSmax) / 2
pnS = pnS ** (.5)
pnS

0      3.668706
1      9.813033
2     38.490005
3    150.511320
4     33.112461
5      6.176219
6     32.247069
7     91.242093
8     70.609907
dtype: float64

In [130]:
piW = heavyW / std_hm
piWmax = piW.max(axis=1)
squarepiWmax = piWmax ** 2
piWbar = piW.mean(axis=1)
squared_piWbar = piWbar ** 2 
pnW = (squared_piWbar + squarepiWmax) / 2
pnW = pnW ** (.5)
pnW

0      5.180064
1     12.955278
2     28.926542
3    158.160710
4      3.982960
5      3.692910
6     33.139379
7     49.384456
8     38.318823
dtype: float64

In [132]:
pn = pd.DataFrame(data={
    "SamplingPoint" : sampling_point,
    "Pn Winter": pnW,
    "Pn Summer": pnS
})
pn

        SamplingPoint   Pn Winter   Pn Summer
0     Gabtoli Dhalwes    5.180064    3.668706
1       Gabtoli Turag   12.955278    9.813033
2         Shah Cement   28.926542   38.490005
3           Hazaribag  158.160710  150.511320
4          Rayerbazar    3.982960   33.112461
5           Kholamora    3.692910    6.176219
6             Zinzira   33.139379   32.247069
7  Sadarghat Terminal   49.384456   91.242093
8       Postogola Bri   38.318823   70.609907

In [133]:
pn.to_excel("PN.xlsx")

# HEI

In [135]:
hmaci = val.iloc[2]
hmaci

Temperature      NaN
pH               NaN
EC               NaN
TSS              NaN
Turbidity        NaN
Salinity         NaN
TDS              NaN
DO               NaN
COD              NaN
NH4              NaN
NO3              NaN
Phosphate        NaN
Sulfates         NaN
K                NaN
Ca               NaN
Mg               NaN
Cl               NaN
Br             1.000
Cd             0.005
Cr             0.050
Ni             0.020
Cu             0.050
Zn             5.000
Mn             0.150
Hg             0.002
As             0.100
Pb             0.100
Name: 2, dtype: float64

In [136]:
hmaci = hmaci[17:]
hmaci

Br    1.000
Cd    0.005
Cr    0.050
Ni    0.020
Cu    0.050
Zn    5.000
Mn    0.150
Hg    0.002
As    0.100
Pb    0.100
Name: 2, dtype: float64

In [137]:
heiS = heavyS / hmaci
heiS

     Br     Cd     Cr     Ni     Cu      Zn         Mn     Hg    As     Pb
0  0.61    0.6   0.88   5.35   9.16  0.0374   6.633333    4.5  1.09   1.88
1  0.45    1.4   1.66  24.75  18.64  0.1318   7.853333   13.5  1.02   4.52
2  0.42    3.6   1.64   7.45  31.94  0.1146   7.153333   54.0  0.63   3.37
3  0.66  420.0  22.78   3.25  19.76  0.1204  23.000000   88.0  0.98  18.36
4  0.80    1.0   0.58   4.45   2.28  0.0618   6.680000   46.5  0.57   1.19
5  0.79    1.4   0.90  10.80  39.52  0.1518   5.813333    8.5  0.75   1.78
6  0.41   21.2   3.96  51.15  37.02  0.1510  20.713333   44.5  1.12  14.57
7  0.35   38.6  22.66  22.55  12.66  0.0884  16.373333  127.5  1.61  21.44
8  0.32   13.8   7.40  19.25   2.30  0.0584   7.426667   99.0  0.59  10.75

In [143]:
heiS = heiS.sum(axis=1)
heiS

0     30.740733
1     73.925133
2    110.317933
3    596.910400
4     64.111800
5     70.405133
6    194.794333
7    263.831733
8    160.895067
dtype: float64

In [144]:
heiS = heavyS / hmaci
heiS = heiS.sum(axis=1)
heiS

0     30.740733
1     73.925133
2    110.317933
3    596.910400
4     64.111800
5     70.405133
6    194.794333
7    263.831733
8    160.895067
dtype: float64

In [145]:
heiW = heavyW / hmaci
heiW = heiW.sum(axis=1)
heiW

0     38.343867
1     63.991267
2     99.117133
3    655.595733
4     21.554733
5     37.732933
6    172.427267
7    196.467000
8    114.614600
dtype: float64

In [146]:
hei = pd.DataFrame(data={
    "SamplingPoint" : sampling_point,
    "HEI Winter": heiW,
    "HEI Summer": heiS
})
hei

        SamplingPoint  HEI Winter  HEI Summer
0     Gabtoli Dhalwes   38.343867   30.740733
1       Gabtoli Turag   63.991267   73.925133
2         Shah Cement   99.117133  110.317933
3           Hazaribag  655.595733  596.910400
4          Rayerbazar   21.554733   64.111800
5           Kholamora   37.732933   70.405133
6             Zinzira  172.427267  194.794333
7  Sadarghat Terminal  196.467000  263.831733
8       Postogola Bri  114.614600  160.895067

In [147]:
hei.to_excel("HEI.xlsx")